.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  /* display: flex; */
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.welcome-user {
  float: left;
  font-size: 15px;
  color: #282c34
}

.navbar-home-link {
  font-size: 15px;
  background: rgb(209, 218, 230);
  border: 3px solid #282c34;
  display: inline-block;
  width: 100px;
  padding: 0%;
  color:#282c34;
  border-radius: 15px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
div{
  /* font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; */
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.nav-item {
  color: #282c34;
}

.nav-link {
  color: #282c34;
}

